{% extends "search/base.html" %}

{% block title %} Courses {% endblock %}

{% block content %}

    <main role="main" class="container">

        <div style="text-align:center">
        <h1>Search</h1>
        <form action="data" method="post">
            Course Infomation/Messages:<br>
            <input type="text" name="search" maxlength="20" placeholder="Code/Name" size = "20" required>
            <br>
            <input type="submit" value="Search">
        </form>
        <p>You can search any course and the messages posted by the other users.</p>
        </div>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    </main>

{% endblock %}