{% extends "account/base.html" %}

{% block title %} Courses {% endblock %}

{% block content %}

    <main role="main" class="container">

        <div class="jumbotron">
            <h1>Courses</h1>
            <p class="lead">New user?<br> Please Select Your Course</p>
        </div>

        {% if not courses %}
            <div class="alert alert-warning" role="alert">
                You did not enroll any courses
            </div>
        {% else %}
            <div class="list-group">
                {% for course in courses %}
                    <a href="/dashboard/{{course}}" class="list-group-item list-group-item-action">{{ course }}</a>
                {% endfor %}
            </div>
        {% endif %}

    </main>

{% endblock %}
