{% extends "account/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <main role="main" class="container">

        <div class="jumbotron">
            <h1>Login</h1>
            <p class="lead">New user?<br> Please click <a href="/account/register">here</a> to register an account</p>

            <form action="auth" method="post">
              {% csrf_token %}

              Email:<br>
              <input type="text" name="email"><br>
              Password:<br>
              <input type="password" name="password">
              <input type="submit" value="Login">
            </form>
        </div>

        
    </main>

{% endblock %}
